<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- nav bar -->
  <nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- new links below-->
  <a href="/menu/mains">Mains</a>
  <a href="/menu/desserts">Desserts</a>
  <a href="/menu/sides">Sides</a>
</nav>
  <title><%= categoryName[0].category %> Menu</title>
</head>
<body>
  <h1><%= categoryName[0].category %> Menu</h1>
<% categoryName.forEach(category => { %>
 <p><b><%= category.name %></b><br>
 Price: <%= category.price %><br>
 Rating: <%= category.rating %><br>
 Details: <%= category.details %>
</p>
<% }) %>
</body>
</html>